<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molecule</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <script>
      document.documentElement.style.display = 'none';
      window.viewMode = 'light';
      if (window.viewMode === 'light') {
        document.head.insertAdjacentHTML('beforeend', '<link rel="stylesheet" href="/static/css/light.css?v=2.1" onload="document.documentElement.style.display = \'\'">');
      }
    </script>
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/images/logo-mini.ico" />
    <script>
      window.data = {{ data|tojson }};
      window.pipelines = {{ pipelines|tojson }};
    </script>
</head>
<body class="sidebar-fixed">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="/"><img src="/static/images/logo.png" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="/"><img src="/static/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline"></i>
                        <span id="has-notifications" class="d-none count-symbol bg-danger"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown" id="notification-list"></div>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="#" onclick="updatePage()">
                        <i class="mdi mdi-refresh"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelines">
                        <span class="menu-title">Pipelines</span>
                        <i class="mdi mdi-source-merge menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='https://console.cloud.google.com/logs/query;query=log_name%3D"projects%2F{{ gcp_project }}%2Flogs%2FserverLog";timeRange=PT3H?project={{ gcp_project }}' target="_blank">
                        <span class="menu-title">Logs</span>
                        <i class="mdi mdi-file-document menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/projects">
                        <span class="menu-title">Projects</span>
                        <i class="mdi mdi-folder menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scheduler">
                        <span class="menu-title">Scheduler</span>
                        <i class="mdi mdi-calendar menu-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Project Pipelines</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th> Pipeline Name </th>
                                            <th> Commit Message </th>
                                            <th> Status </th>
                                            <th> Pipeline Hash </th>
                                            <th> Author </th>
                                            <th> Project </th>
                                            <th> Timestamp </th>
                                            <th> Pinned </th>
                                        </tr>
                                        </thead>
                                        <tbody id="project-pipelines">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add/Edit Project</h4>
                                <p class="card-description"> Project ID: {{ data._id }} </p>
                                <div class="form-group">
                                    <label for="project-name">Name</label>
                                    <input type="text" class="form-control" name="project-name" id="project-name" placeholder="Project Name" value="{{ data.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="project-user">User</label>
                                    <input type="text" class="form-control" name="project-user" id="project-user" placeholder="User" value="{{ data.user }}">
                                </div>
                                <div class="form-group">
                                    <label for="project-created-at">Created At</label>
                                    <input type="text" class="form-control" name="project-created-at" id="project-created-at" value="{{ data.timestamp }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <div class="template-demo mb-3 form-group">
                                        <button type="button" id="status-button-0" class="status-btn btn btn-sm btn-outline-dark">Created</button>
                                        <button type="button" id="status-button-1" class="status-btn btn btn-sm btn-outline-primary">On Hold</button>
                                        <button type="button" id="status-button-2" class="status-btn btn btn-sm btn-outline-info">Experimentation</button>
                                        <button type="button" id="status-button-3" class="status-btn btn btn-sm btn-outline-warning">Shadow</button>
                                        <button type="button" id="status-button-4" class="status-btn btn btn-sm btn-outline-success">Completed</button>
                                        <button type="button" id="status-button-5" class="status-btn btn btn-sm btn-outline-secondary">Onboarded</button>
                                        <button type="button" id="status-button-6" class="status-btn btn btn-sm btn-outline-danger">Closed</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="project-notes">Notes</label>
                                    <textarea class="form-control" id="project-notes" name="project-notes" rows="7" spellcheck="false">{{ data.notes }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="project-working-dir">Working Directory</label>
                                    <input type="text" class="form-control" id="project-working-dir" name="project-working-dir" placeholder="Working Directory" value="{{ data.working_dir }}">
                                </div>
                                <div class="form-group">
                                    <label for="project-pipeline-name">Pipeline Name</label>
                                    <input type="text" class="form-control" id="project-pipeline-name" name="project-pipeline-name" placeholder="Pipeline Name" value="{{ data.pipeline_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="project-pipeline-spec-loc">Pipeline Spec Location</label>
                                    <input type="text" class="form-control" id="project-pipeline-spec-loc" name="project-pipeline-spec-loc" placeholder="Pipeline Spec Location" value="{{ data.pipeline_spec_loc }}">
                                </div>
                                <div class="form-group">
                                    <label for="project-pipeline-config">Pipeline Config</label>
                                    <input type="text" class="form-control" id="project-pipeline-config" name="project-pipeline-config" placeholder="Pipeline Config" value="{{ data.pipeline_config }}">
                                </div>
                                <div class="form-group">
                                    <label for="project-command">Command</label>
                                    <input type="text" class="form-control" id="project-command" name="project-command" value="{{ data.command }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="project-scheduled-at">Schedule String</label>
                                    <input type="text" class="form-control" name="project-scheduled-at" id="project-scheduled-at" value="{{ data.schedule_str }}" disabled>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-check-primary">
                                        <label class="form-check-label">
                                            <input id="update-config" name="update-config" type="checkbox" class="form-check-input" {{ 'checked' if data.update_config else '' }}>Update Config
                                        </label>
                                    </div>
                                    <div class="form-check form-check-primary">
                                        <label class="form-check-label">
                                            <input id="scheduled" name="scheduled" type="checkbox" class="form-check-input" {{ 'checked' if data.scheduled else '' }} disabled>Scheduled
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="button" class="btn btn-gradient-primary mr-2" onclick="addProject()">Submit</button>
                                    <button type="button" class="{{ 'd-none' if data._id == '' }} btn btn-danger ml-auto" onclick="deleteProject()">Delete</button>
                                </div>
                                <div class="d-none alert-toast mt-3" id="update-alert">
                                    <div class="col-12">
                                        <span class="d-flex align-items-center text-white">
                                            <span>Update Successful!</span>
                                            <i class="mdi mdi-close ml-auto" id="close-alert"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright &copy; Flipkart Internet Pvt Ltd</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Dashboard Design by <a href="https://github.com/BootstrapDash/PurpleAdmin-Free-Admin-Template" target="_blank" rel="noopener noreferrer">Bootstrap Dash</a> </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/static/js/main.js?v=1.2"></script>
<script src="/static/js/view_project.js?v=1.2"></script>
<!-- End custom js for this page -->
</body>
</html>